{% extends "base.html" %}
{% load static %} 


{% block nav %}
 <li class="nav-item active">
 <a class="nav-link" href="/analyser/"><i class="fas fa-tachometer-alt"></i>Analyzer</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" href="/social/"><i class="far fa-address-book"></i>Social</a>
 </li>
 {% endblock %}

{% block content %}
<div style="margin-top: 20px;" class="  text-center">
    
  <div class="container" style="height: 550px;">
    <img style="height: 120px;"src="{% static 'images/logo.gif' %}"><br>
    <small class="text-muted mb-3">Custom Data Analysis</small><br>
    <form action="/analyser/" method="POST">
        {% csrf_token %}
        <div class="form-group">
        <!-- <label for="exampleInputEmail1">Enter your text</label> -->
        <textarea type="text" class="form-control" name="indata" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="আমার সোনার বাংলা... " required></textarea>
        <small id="emailHelp" class="form-text text-muted">Don't use Daari or Full Stop at End</small>
        </div>
        
               <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if rating %}
    <div style="width: 40%; margin:auto; margin-top:100px;" class="">Overall <p class="display-4 text-success font-weight-bolder" style="display: inline;">{{rating}}%</p> Positivity Found</div>
    <br>
    {% endif %}
  </div>

  {%if sdata %}
<section style=" min-height:500px; background:whitesmoke; " >
  <div id="resultSummary" class="mt-3 container" >

    <h4 class="text-info" style="padding-top: 20px; ">Analysis Summary</h4>
  
    
    <br>
    <div style="width: 90%; margin:auto;" class="">
        <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Text</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>

        {% for elements in sdata %}
      
        <tr>
           
            <td>{{elements.text}},</td>
            {% if '-' in elements.score %}
            <td class="text-danger font-weight-bolder" >{{elements.score}}%</td>
            {% else %}
            <td class="text-success font-weight-bolder">{{elements.score}}%</td>
            {% endif %}
            
          </tr>

        {% endfor %}
            </tbody>
          </table>

    </div>


   
</div>
</section>
{% endif %}
    
</div>
{% endblock %}